[submodule ".xmonad"]
	path = .xmonad
	url = git@github.com:barrett370/xmonad_config
[submodule "git-clones/st"]
	path = git-clones/st
	url = https://github.com/barrett370/st
[submodule "git-clones/dmenu"]
	path = git-clones/dmenu
	url = https://github.com/barrett370/dmenu
[submodule "git-clones/spt-utils"]
	path = git-clones/spt-utils
	url = https://github.com/barrett370/spt-utils
